@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

/* almost black: 3D423E*/
/* almost white : #fbf5e-6 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a7c9c7;
  font-family: "arvo";
}

/* ======== Setting header ========= */
section.header_lrg {
  background-color: #a7c9c7;
  color: #1e144b;
  width: 100%;
  height: 25vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  align-items: center;
  font-family: "Montserrat";
  font-size: 600%;
  text-transform: uppercase;
}

header h2 {
  font-family: "Montserrat";
  font-size: 200%;
  font-weight: lighter;
  text-transform: uppercase;
}

/* ========= Setting navigation ========  */
nav.upperNav {
  width: 100%;

  display: inline-flex;
  justify-content: space-between;
}
nav.upperNav a:link {
  width: 100%;
  background-color: #a7c9c7;
  color: #1e144b;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Montserrat";
  font-size: 135%;
  text-align: center;
  text-decoration: none;
}

nav.upperNav a:visited {
  color: #1e144b;
}

nav.upperNav a:hover {
  color: #1e144b;
  background-color: #fbf5e6;
}

nav.upperNav a.active {
  background-color: #fbf5e6;
}

section.title {
  background-color: #fbf5e6;
  padding: 3%;
  color: #1e144b;
  font-size: 200%;
  text-transform: capitalize;
  font-weight: bold;
  text-indent: 50px;
}

section.article {
  background-color: #fbf5e6;
  color: #1e144b;
  font-size: 120%;
  padding: 3%;
  line-height: 50px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0px;
  text-indent: 50px;
}
.text {
  width: 200vw;
}
article h1 {
  color: #fff;
}
figure {
  width: 75 vw;
}

figure img {
  width: 100%;
  position: relative;
}

figcaption {
  font-style: oblique;
  line-height: 20px;
  margin-right: 60px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

nav.buttonNav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  justify-content: center;
}

nav.buttonNav a:link {
  width: 100%;
  background-color: #1e144b;
  color: #fbf5e6;
  margin: 40px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Montserrat";
  font-size: 100%;
  text-align: center center;
  text-decoration: underline;
  /* How to make shadow rectangle taken from :   /* https://www.thesitewizard.com/css/box-shadow.shtml */
  border: 3px solid #fbf5e6;
  border-radius: 20px;
  box-shadow: 5px 6px #808080;
}

nav.buttonNav a:visited {
  color: #fbf5e6;
  background-color: #1e144b;
}

nav.buttonNav a:hover {
  background-color: #a7c9c7;
  color: #1e144b;
}

nav.buttonNav a.active {
  background-color: #fbf5e6;
}
